#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header{
  background-color: green;
  width:1439px;
  height: 418px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.logo{
display: flex;
align-self: start;
  left: 0;
  position: absolute;
  top: 0;
}